* {box-sizing: border-box;}

body {
  background-image: url('dark-blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.warnings {
  color: red;
  padding-left: 14px;
}

#main_container {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  overflow: hidden;
  background: rgb(29, 34, 39);
  position: sticky;
  top: 0;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
nav a.right {
  float: right;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
nav a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: flex;
  /* flex-wrap: wrap; */
}

/* Main column */
.content {   
  flex: 70%;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  background-image: linear-gradient(black, rgb(8, 8, 66));
  padding: 20px;
  color: white;
}

/* Sidebar/right column */
.users_list {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px 0 0 20px;
  height: 755px;
}

#list_container {
  height: 90%;
  overflow: auto;
  overflow-y: auto;
}

.page_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.upload_post {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 2em;
  background-color: rgb(29, 34, 39);
  justify-content: center;
}

#uploadBtn{
  margin: 0 4% 2% 85%;
  width: 10%;
}

#description {
  resize: none;
  width: 90%;
  margin: 4%;
}

.flex_btns {
  flex-direction: row;
  margin: 0 4% 0 4%;
}

#img_upload_btn{
  margin-left: 10%;
}

.posts {
  width: 90%;
  height: 100%;
  background: white;
  color: black;
  margin: 2em 0 0 2em;
  padding: 1.5em 0 0 2em;
  /*overflow-y: auto;
  height: 600px;*/
  overflow-x: auto;
  max-width: 1100px;
}

footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 600px) {
  .row {   
    flex-direction: column;
  }
}