.info_table {
    width:100%;
}
.info_table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.info_table td {
    padding: 6px;
    text-align: left;
}
.table_input {
    width: 100%;
}
#view_btn {
    width: 45%;
}