#signup {color: white;}

form {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
}
  
 #formarea {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 8px;
}
  
label {font-size: 0.9em;}

.form_left{
    display: inline-block;
    width:49%;
    padding-right:8px;
    padding-left:8px;
    padding-bottom:0.8rem;
    margin:3px 0 0 6px;
}
  
.form_right{
    display: inline-block;
    width:49%;
    padding-right:8px;
    padding-left:8px;
    padding-bottom:0.8rem;
    margin:3px 0;
}

.warning_left, .warning_right{
    display: inline-block;
    width:49%;
    color: red;
    padding-left: 14px;
    margin: 0;
}

input[type=text], input[type=password], 
input[type=date], input[type=email], select {
  display: inline-block;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.8em;
}

.sex {
    padding-left: 14px;
    padding-top: 14px;
} 
  
.choice {
    display: inline;
    padding-left: 2rem;
}

#location {
    padding: 8px 8px 0 8px;
    margin:3px 0 0 6px;
}

.location_btn {
    display: inline-block;
    width:30%;
}

#country, #town, #address {
    margin-bottom: 0.8rem;
}

#find_btn, #map_btn {
    margin-left: 0.8rem;
    margin-top: 0.6rem;
}

#invalid_location {
    color: red;
    padding-top: 0.5rem;
}

#extra_information {
    padding: 0 8px 4px 8px;
    margin:3px 0 0 6px;
}

#work {margin-bottom: 0.6rem;}

textarea {
    width:100%;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 8px 15px;
    box-sizing: border-box;
}

.change_content {padding-left: 14px;}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.submit_btn {
    width: 96%;
    background-color: #4CAF50;
    color: white;
    font-size: medium;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    
.submit_btn:hover {
    background-color: #45a049;
}

/* Responsiveness for smaller screen */
@media screen and (max-width: 800px) {
    form {padding: 5%;}
}