#SignInForm {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#signin {color: white;}

#formarea_signin {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 28px;
}